body { 
    font-family: "Roboto",  sans-serif;
color: #434455 ;
background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
}